venv/
data/
models/
wandb/
.env
.DS_Store
*/__pycache__

*/__pycache__/*
*/.pytest_cache/*
*/.vscode/*
*/.idea/*
*/.mypy_cache/*
*/.mypy_cache/*
*/.pytest_cache/*
*/.coverage
*/.coverage.*
*/.DS_Store
*/.mypy_cache
*/.pytest_cache
*/.vscode
*/.idea
*/__pycache__

*.DS_Store